@font-face {
  font-family: "汉仪铸字木头";
  src: url("../font/汉仪铸字木头.eot");
  src: url("../font/汉仪铸字木头.eot?#iefix") format("embedded-opentype"),
    url("../font/汉仪铸字木头.woff") format("woff"),
    url("../font/汉仪铸字木头.ttf") format("truetype"),
    url("../font/汉仪铸字木头.svg#NeuesBauenDemo") format("svg");
  font-weight: normal;
  font-style: normal;
}

body {
  max-width: 500px;
  margin: 0 auto;
}

.bg {
  width: 100%;
}
.pos-rel {
  position: relative;
}

.p1 {
  position: relative;
  .title {
    position: absolute;
    top: 3.48%;
    left: 0;
  }
  .car {
    position: absolute;
    bottom: 27%;
    // bottom: 18.57%;
    left: 0;
    z-index: 4;
    transform: scale(0);
    transition: transform 1s ease-out, bottom 1s ease-out;
  }
  .vs {
    width: 54%;
    position: absolute;
    left: 42.667%;
    top: 38.8%;
    z-index: 2;
    animation-duration: 0.1s;
  }
  .start {
    width: 56%;
    position: absolute;
    left: 22%;
    top: 83.83%;
  }
  .sponsor {
    position: absolute;
    top: 32.22%;
    left: 0;
  }
}

.p2 {
  position: relative;
  .wrapper {
    width: 100%;
    overflow: hidden;
  }
  .car-3-wrapper {
    height: 11.11%;
    position: absolute;
    top: 24.21%;
    left: 0;
  }
  .car-2-wrapper {
    height: 14.51%;
    position: absolute;
    top: 33.17%;
    left: 0;
  }
  .car-1-wrapper {
    height: 12.52%;
    position: absolute;
    top: 52.32%;
    left: 0;
  }
  .cloud {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
  }
}

.p3 {
  position: relative;
  .wrapper {
    width: 14.667%;
    height: 68.77%;
    overflow: hidden;
    .bd {
      width: 100%;
      height: 100%;
      .tempWrap {
        height: 100% !important;
      }
    }
    li > img {
      padding: 1.5rem 0;
    }
  }
  .car-1-wrapper {
    position: absolute;
    top: 0;
    left: 11.5%;
  }
  .car-2-wrapper {
    position: absolute;
    top: 0;
    left: 43%;
  }
  .bus {
    position: absolute;
    top: 69%;
    left: 72%;
    width: 19.73%;
    height: 40.6%;
  }
}

.p4 {
  position: relative;
  .transition-scale {
    transform: scale(0);
    transition: transform 0.5s ease-out, bottom 0.5s ease-out;
  }
  .bus {
    position: absolute;
    width: 47.6%;
    height: 31.76%;
    left: 2%;
    // bottom: 41.5%;//yuan
    bottom: 50%;
  }
  .car {
    position: absolute;
  }
  .car-first {
    z-index: 8;
  }
  .car-second {
    z-index: 7;
  }
  .car-third {
    z-index: 6;
  }
  .car-1 {
    width: 27.2%;
    height: 14.08%;
    left: 48.53%;
    // bottom: 42.03%;
    bottom: 57%;
  }
  .car-2 {
    width: 23.6%;
    height: 12.01%;
    left: 75.73%;
    // bottom: 43.49%;
    bottom: 58.49%;
  }
  .car-3 {
    width: 21.33%;
    height: 10.44%;
    left: 50.8%;
    // bottom: 52.87%;
    bottom: 58.87%;
  }
  .car-4 {
    width: 20.93%;
    height: 9.94%;
    left: 75.07%;
    // bottom: 52.8%;
    bottom: 59.8%;
  }
  .car-5 {
    width: 17.6%;
    height: 8.95%;
    left: 54.53%;
    bottom: 60.57%;
  }
  .car-6 {
    width: 17.6%;
    height: 8.53%;
    left: 74.53%;
    bottom: 60.9%;
  }
}

.p5 {
  position: relative;
  .car-wrapper {
    width: 55.07%;
    height: 56.09%;
    position: absolute;
    top: 11%;
    left: 8.13%;
  }
  .bus-wrapper {
    height: 47.14%;
    width: 21.33%;
    position: absolute;
    top: 15%;
    left: 73.13%;
  }
  .yellow {
    color: #fff600;
  }
  .car-word {
    // position: absolute;
    // left:  16%;
    // bottom: calc(71% + 5rem);
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    opacity: 0;
    text-align: center;
    font: {
      family: "汉仪铸字木头";
      size: 4rem;
    }
    color: rgb(150, 146, 146);
  }
  .bus-word {
    text-align: center;
    opacity: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    // position: absolute;
    // left:  71.73%;
    // bottom:calc(73% + 3rem);
    font: {
      family: "汉仪铸字木头";
      size: 2.2rem;
    }
    color: rgb(150, 146, 146);
  }
}

.p6 {
  position: relative;
  .wrapper {
    position: absolute;
    z-index: 5;
  }
  .bus-wrapper {
    top: 0;
    left: 0;
    border-bottom: white 10px solid;
    .bus {
      width: 51.33%;
      position: absolute;
      bottom: 0;
      left: 18.67%;
      z-index: 10;
    }
    .bus-cloud {
      width: 20.67%;
      position: absolute;
      top: 65%;
      left: 72.53%;
      z-index: 10;
    }
  }
  .car-wrapper {
    top: 33.89%;
    left: 0;
    .car {
      position: absolute;
      top: 55.95%;
      left: 0;
      z-index: 10;
    }
    .car-cloud {
      z-index: 10;
      position: absolute;
      top: 8.5%;
      left: 0;
    }
  }
  .content {
    position: relative;
    z-index: 10;
  }
}

.p7 {
  position: relative;
  .bus-trophy {
    width: 100%;
    position: absolute;
    bottom: 34.05%;
    left: 0;
    z-index: 6;
    background: transparent;
  }
  .grove-wrapper {
    width: 100%;
    height: 65.95%;
    position: absolute;
    bottom: 34.05%;
    z-index: 5;
    overflow: hidden;
  }
  .grove {
    width: 100%;
    transform: scale(2);
    -webkit-animation: myRotate 5s linear;
    -moz-animation: myRotate 5s linear;
    animation: myRotate 5s linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
  }
}

@keyframes myRotate {
  0% {
    transform: rotate(0) scale(2);
  }
  100% {
    transform: rotate(1turn) scale(2);
  }
}
@-moz-keyframes myRotate {
  0% {
    transform: rotate(0) scale(2);
  }
  100% {
    transform: rotate(1turn) scale(2);
  }
}
@-webkit-keyframes myRotate {
  0% {
    transform: rotate(0) scale(2);
  }
  100% {
    transform: rotate(1turn) scale(2);
  }
}

.p8 {
  position: relative;
  .icon-wrapper {
    position: absolute;
    width: 100%;
    left: 0;
    top: 25.18%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: baseline;
    .icon {
      width: 27%;
      margin-bottom: 5%;
      opacity: 0;
      transform: translateX(-380%);
      transition: transform ease-in 0.5s, opacity ease-in 0.5s;
    }
  }
}

.p9 {
  position: relative;
  .btn-share {
    position: absolute;
    top: 64.46%;
    left: 0;
  }
  .again {
    position: absolute;
    top: 77.88%;
    left: 0;
  }
}

#share {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  .icon {
    position: absolute;
    z-index: 101;
    right: 4%;
    top: 2%;
    width: 81%;
  }
}

.tech {
  position: absolute;
  bottom: 10px;
  left: 50%;
  font-size: 1.5rem;
  color: white;
  width: 20rem;
  text-align: center;
  margin-left: -10rem;
  z-index: 10;
}

.next {
  width: 35.2%;
  position: absolute;
  bottom: 2.3%;
  left: 32.4%;
  z-index: 15;
}

.title {
  position: absolute;
  top: 1%;
  left: 0;
  z-index: 10;
}
img.content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 11;
}

/* music */
.music-icon {
  position: fixed;
  width: 10%;
  height: 10%;
  background-image: url(../image/music-off.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  top: 3%;
  right: 3%;
  z-index: 100;
  transition: background-image 0.5s ease-in;
}
.music-icon.play {
  background-image: url(../image/music-on.png);
  // -webkit-animation: rotate 2.3s linear infinite;
}
.music-icon:after {
  position: absolute;
  content: "";
  display: inline-block;
  left: -20px;
  right: -20px;
  top: -20px;
  bottom: -20px;
}
@-webkit-keyframes myMove {
  0% {
    -webkit-transform: scaleX(0) scaleX(0) translateY(0px);
  }
  100% {
    -webkit-transform: scaleX(0.9) scaleX(1.1) translateY(5px);
  }
}
@-moz-keyframes myMove {
  0% {
    -moz-transform: scaleX(0) scaleX(0) translateY(0px);
  }
  100% {
    -moz-transform: scaleX(0.9) scaleX(1.1) translateY(5px);
  }
}
@keyframes myMove {
  0% {
    transform: scaleX(1) scaleY(1) translateY(0px);
  }
  90% {
    transform: scaleX(0.95) scaleY(1.05) translateY(-1px);
  }
  95%{
    transform: scaleX(1.02) scaleY(0.98) translateY(0px);
  }
  100% {
    transform: scaleX(1) scaleY(1) translateY(0px);
  }
}

.loading {
  position: fixed;
  z-index: 150;
  width: 100%;
  height: 100%;
  background: #282828;
  .loading-wrapper {
    position: absolute;
    top: 38.2%;
    left: 0;
    text-align: center;
    width: 100%;
    text-align: center;
    .icon {
      font-size: 1.8rem;
      color: whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 0 5px 0;
      &::before {
        content: "";
        display: inline-block;
        width: 4rem;
        height: 4rem;
        background: url(../image/p9/share-icon.png) no-repeat border-box;
        background-size: auto 100%;
        margin-right: 5px;
        animation: myMove infinite 1.3s;
      }
    }
    .progress {
      width: 10rem;
      height: 8px;
      background: whitesmoke;
      border: 2px solid black;
      border-radius: 4px;
      position: relative;
      left: 50%;
      margin-left: -5rem;
      .progress-in {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        border: 0;
        padding: 0;
        margin: 0;
        background: #04be02;
        transition: width 1s ease-out;
      }
    }
  }
}
